In [2]:
import os
os.chdir("..")
import sys
sys.path.append("process")

In [3]:
from cfps_shell import *

预期分数

In [4]:
data_child = cfps2018.childproxy.data[["provcd18","wf701"]]

In [5]:
get_prov(-1)

'不知道'

In [10]:
data_child["provcd18"] = data_child["provcd18"].apply(lambda x: get_prov(x))

/tmp/ipykernel_61737/1653682761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_child["provcd18"] = data_child["provcd18"].apply(lambda x: get_prov(x))

In [11]:
data_child

     provcd18  wf701
0         河北省   -8.0
1         河北省   -8.0
2         河北省   -8.0
3         北京市   -8.0
4         山西省   -8.0
...       ...    ...
8730      河南省   90.0
8731      河北省   -8.0
8732      贵州省   -8.0
8733      湖南省   -8.0
8734      陕西省   -8.0

[8735 rows x 2 columns]

In [14]:
valids = data_child[data_child["wf701"]>0]

In [15]:
valids

     provcd18  wf701
8         辽宁省   90.0
9         河北省   99.0
12        江西省  100.0
20        山东省   93.0
23        河南省   99.0
...       ...    ...
8722      河北省   90.0
8723      云南省   95.0
8725      江西省   90.0
8726      吉林省  100.0
8730      河南省   90.0

[5951 rows x 2 columns]

In [18]:
ans = valids.groupby("provcd18").mean()
ans

               wf701
provcd18
上海市        89.230769
云南省        90.723529
内蒙古自治区    100.000000
北京市        93.800000
吉林省        92.704918
四川省        88.394286
天津市        93.818182
宁夏回族自治区    90.000000
安徽省        92.451613
山东省        92.251208
山西省        93.291845
广东省        91.367407
广西壮族自治区    88.993548
新疆维吾尔自治区   93.076923
江苏省        91.885417
江西省        89.463303
河北省        91.718676
河南省        91.870314
浙江省        91.675000
湖北省        91.924242
湖南省        90.814208
甘肃省        92.211443
福建省        90.500000
贵州省        88.870445
辽宁省        93.113402
重庆市        93.649123
陕西省        92.379845
青海省        85.000000
黑龙江省       91.900000

In [25]:
[ {"name": k, "value": v } for k,v in ans.to_dict()['wf701'].items()]

[{'name': '上海市', 'value': 89.23076923076923},
 {'name': '云南省', 'value': 90.7235294117647},
 {'name': '内蒙古自治区', 'value': 100.0},
 {'name': '北京市', 'value': 93.8},
 {'name': '吉林省', 'value': 92.70491803278688},
 {'name': '四川省', 'value': 88.39428571428572},
 {'name': '天津市', 'value': 93.81818181818181},
 {'name': '宁夏回族自治区', 'value': 90.0},
 {'name': '安徽省', 'value': 92.45161290322581},
 {'name': '山东省', 'value': 92.2512077294686},
 {'name': '山西省', 'value': 93.29184549356223},
 {'name': '广东省', 'value': 91.36740740740741},
 {'name': '广西壮族自治区', 'value': 88.99354838709678},
 {'name': '新疆维吾尔自治区', 'value': 93.07692307692308},
 {'name': '江苏省', 'value': 91.88541666666667},
 {'name': '江西省', 'value': 89.46330275229357},
 {'name': '河北省', 'value': 91.71867612293144},
 {'name': '河南省', 'value': 91.87031408308005},
 {'name': '浙江省', 'value': 91.675},
 {'name': '湖北省', 'value': 91.92424242424242},
 {'name': '湖南省', 'value': 90.81420765027322},
 {'name': '甘肃省', 'value': 92.21144278606965},
 {'name': '福建省', 'value': 90.5},
 {'name': '贵州省', 'value': 88.87044534412955},
 {'name': '辽宁省', 'value': 93.11340206185567},
 {'name': '重庆市', 'value': 93.64912280701755},
 {'name': '陕西省', 'value': 92.37984496124031},
 {'name': '青海省', 'value': 85.0},
 {'name': '黑龙江省', 'value': 91.9}]

In [8]:
ans

{(2010, 'urban'): 0.8133509003074221,
 (2010, 'rural'): 0.43394886363636365,
 (2012, 'urban'): 0.8831168831168831,
 (2012, 'rural'): 0.6329113924050633,
 (2014, 'urban'): 0.8823529411764706,
 (2014, 'rural'): 0.7391304347826086,
 (2016, 'urban'): 0.5380710659898477,
 (2016, 'rural'): 0.5450236966824644,
 (2018, 'urban'): 0.8985507246376812,
 (2018, 'rural'): 0.7192982456140351}

In [9]:
len(cfps[2012].child.urban["wf101"])

3159

In [10]:
[ [year, ans[year, 'urban'], ans[year, 'rural']] for year in range(2010, 2019, 2)]

[[2010, 0.8133509003074221, 0.43394886363636365],
 [2012, 0.8831168831168831, 0.6329113924050633],
 [2014, 0.8823529411764706, 0.7391304347826086],
 [2016, 0.5380710659898477, 0.5450236966824644],
 [2018, 0.8985507246376812, 0.7192982456140351]]